/* цвет основного текста #757575 */
/* вторичный цвет текста #212121 */
/* синий #2196F3  */
/* backround color main #E5E5E5 */
/* вторичный цвет фона #2F303A */
/* вторичный цвет фона #2F303A */
/* цвет фона 3 (наша команда) #F5F4FA */
/*font-family: 'Raleway', sans-serif; */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --main-backround-color: #e5e5e5;
  --secondary-background-color: #2f303a;
  --full-black: #000000;
  --color-footer-links: rgba(255, 255, 255, 0.6);
  --background-ourteam-button: #f5f4fa;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* Header + footer */
header {
  background-color: var(--primary-white-color);
}
footer {
  background-color: var(--secondary-background-color);
}
.list {
  list-style: none;
}

.nav-web {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.19;
  text-align: left;
  text-decoration: none;
}

.header-web {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-studio {
  color: var(--full-black);
}

.footer-studio {
  color: var(--primary-white-color);
}

.footer .list {
  line-height: 1.71;
  font-style: normal;
}

.footer-address {
  color: var(--primary-white-color);
  text-decoration: none;
}

.footer-link {
  text-decoration: none;
  color: var(--color-footer-links);
}

.nav-menu .link {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-menu .link:hover,
.nav-menu .link:focus {
  color: var(--accent-color);
}
.contacts-link {
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.nav-menu .current {
  color: var(--accent-color);
}
/* section 1 / h1+button */
.decision {
  background-color: var(--secondary-background-color);
  text-align: center;
}
.decision-main {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Кнопка */
.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px 4px 4px 0px;
  cursor: pointer;
  border: 0;
}

/* Section2 - Особенности */
.advantages {
  text-align: Left;
}
.advantages-hover {
  display: none;
}
.advantages h3 {
  color: var(--title-text-color);
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
}
.advantages p {
  line-height: 1.71px;
}
/* Section3 - Направления работы студии */
.directions h2 {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Section4 - Наша команда */
.team {
  background-color: var(--background-ourteam-button);
}
.team h2 {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.team h3 {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team p {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-member {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* Section 2.1 - Направления деятельности */
.activity h1 {
  display: none;
}
.button-filter {
  color: var(--title-text-color);
  background-color: var(--background-ourteam-button);
  border-radius: 4px;
  border: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
}

.button-filter:focus,
.button-filter:hover,
.button-filter:active {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Section 2.2 - Наши направления деятельности */
.activity a {
  text-decoration: none;
}
.filter-service {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.filter-direction {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}
